<div class="buttonWrapper">
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle name="buy" [disabled]="isBuySelected" (click)="getAnnouncements('купити')">Buy
    </mat-button-toggle>
    <mat-button-toggle name="sell" [disabled]='isSellSelected' (click)="getAnnouncements('продати')">Sell
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<table class="table-fill">
  <thead>
  <tr>
    <th class="text-left">Action</th>
    <th class="text-left">Currency</th>
    <th class="text-left">Amount</th>
  </tr>
  </thead>
  <tbody class="table-hover">
  <tr *ngFor="let item of Announcements">
    <td class="text-left">{{item.action}}</td>
    <td class="text-left">{{item.currency}}</td>
    <td class="text-left">{{item.amount}}</td>
  </tr>
  </tbody>
</table>
