
.nav {
  border-radius: 3px;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

li {
  list-style-type: none;
  float: left;
}
a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li :hover {
  background-color: #111;
}
router-outlet {
  display: block;
  margin-top: 15px;
}
