<!--The content below is only a placeholder and can be replaced.-->
<section class="wrapper">
  <mat-toolbar color="primary" class="nav">
    <li routerLinkActive="active">
      <a routerLink="/home">Home</a>
    </li>
    <li routerLinkActive="active"> <!--*ngIf="authService.isAuthenticated()">-->
      <a routerLink="/dollars">Dollars</a>
    </li>
    <li routerLinkActive="active"> <!--*ngIf="authService.isAuthenticated()">-->
      <a routerLink="/euro">Euro</a>
    </li>
  </mat-toolbar>
  <router-outlet></router-outlet>
</section>
