<section class="homeWrapper" xmlns="http://www.w3.org/1999/html">
  <div class="buttonWrapper">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle name="buy" [disabled]="isBuySelected" (click)="getAnnouncements('купити')">Buy
      </mat-button-toggle>
      <mat-button-toggle name="sell" [disabled]='isSellSelected' (click)="getAnnouncements('продати')">Sell
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <button mat-raised-button color="primary" name="add" (click)="onParse(unparsedString)">Add</button>
</section>

<table class="table-fill">
  <thead>
  <tr>
    <th class="text-center">Action</th>
    <th class="text-center">Currency</th>
    <th class="text-center">Amount</th>
    <th class="text-center">Remove</th>
  </tr>
  </thead>
  <tbody class="table-hover">
  <tr *ngFor="let item of Announcements">
    <td class="text-left">{{item.action}}</td>
    <td class="text-left">{{item.currency}}</td>
    <td class="text-left">{{item.amount}}</td>
    <td class="text-left">
      <button mat-icon-button class="button" (click)="remove(item.id)">
        <mat-icon class="material-icons">clear</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
